/* font-family: "HelveticaNeueCyr-Light"; */
@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: url("../fonts/HelveticaNeueCyr-Light.eot");
	src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
	url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "leaguegothic-regular-webfont";
	src: url("../fonts/leaguegothic-regular-webfont.eot");
	src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix")format("embedded-opentype"),
	url("../fonts/leaguegothic-regular-webfont.woff") format("woff"),
	url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
	url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
