/*==========  Desktop First Method  ==========*/


/* Medium Devices, Desktops */
@media only screen and (max-width : 959px) {
.header{
	width: 100%;
}
.logo{
	padding-left:20px;
}
.header__home{
    float: none;
	top: 0px;
	margin-top: 35px;
	width:100%;
	}
.menu{
	width:100%;
}
.menu__li{
	width:16%;
	padding:0;
}
.menu__li_border{
	border-top: none;
	padding-left: 20px;
	}
.slider{
	margin: 70px auto 0;
	}
.slider__position{
	width: 100% !important;
	}
.conteinerimg{
	top: -20px;
	padding-left: 48%;
	display: block;
	}
h4.slider__name{
	font-family: "leaguegothic-regular-webfont";
	font-size: 6vw;
	}

h6.slider__description {
	font-size: 3.5vw;
	}
p.slider__item{
    position: relative;
    display: none;
	}
p.slider__item_768{
	font-family: "opensans-light-webfont";
    font-size: 2vw;
    text-transform: none;
    float: left;
    color: #FFF;
    font-weight: 100;
    width: 56%;
    position: relative;
    display: block;
    clear: left;
    line-height: 30px;
	}
section.about{
	 height: 220px;
}
.about__size{
	width: 100%;
	}
h4.about__title{
	font-size: 3vw;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.conteiner{
	margin: 75px auto 0;     /*располагаем контент по средине экрана*/
    display: block;
   	width: 100%;
    float: none;
    }
header{
	height:535px;
}
.logo{
	position: relative;
	display: block;
	width: 167px;
	margin:0 auto;
}
.header {
    position: relative;
    display: block;
    margin: 0 auto;
	width: 100%;
}
.header__home{
	width:50%;
	height: 245px;
	position: relative;
    display: block;
    float: none;
    margin:25px auto 0;
    background: url(img/pattern-menu.png) repeat; /*решается двумя способами (1. картинка 2. подбор цвета с прозрачностью)*/
	border-width: 1px;
	border-style: solid;
	border-color: #5F486A #000 #000 #000;
	border-radius: 10px;
	z-index: 150;
	padding-left: 0;
	}
.menu{
	width:100%;
}
.menu__li{
	float: none;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	border-bottom: 1px solid #36283E;
	border-top: 1px solid #503D58;
	width: 101%;
	}
.menu__a:hover{
	background: url(img/apattern.png) repeat;
	}
.menu__a_hover:hover{
	text-shadow: 0px 0px 12px #fff;
	background:none;
}
.menu__li_border_top{
	border-top: none;
}
.menu__li_border_bottom{
	border-bottom: none;
}	
.slider {
    margin: -182px auto 0;
    height: 235px;
}
.slider__position {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-left: 40px;
	}
.conteinerimg {
    position: relative;
    display:block;
    margin-left: 3%;
    top: -20px;
}
.conteinerimg__ipone4, .conteinerimg__iphone4bake {
	background:none;
}
img.conteinerimg_play{
	display: none;
}
.conteinerimg__ipone4_480{
	background:url(img/iphon480.png) no-repeat;
	width: 190px;
	height: 265px;
}
h4.slider__name{
	padding-top: 90px;
	}
h6.slider__description{
	font-weight: 300;
	}
p.slider__item, p.slider__item_768{
    position: relative;
    display: none;
	}
section.about{
	 height: 500px;
}
.about__size{
	width: 768px;
	}
.about__colum{
	width: 100%;
	padding-right: 10px;
	padding-left: 0;
	padding-bottom: 20px;
	}
.fa-comment, .fa-music, .fa-wrench{
	left:-5%;
	padding-left: 0px;
}
h4.about__title{
	text-align: left;
	margin-left: 30px;
	font-size: 23px;
	}
p.about__text{
	padding-left: 0px;
	width: 79%;
	margin: 0 auto;
	}
button.about__button{
	padding-right: 30px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

header{
	height:400px;
}

.header__home{
	width:50px;
	height: 245px;
    margin:25px auto 0;
    background:none;
	border: none;
	padding-left: 0;
	}
.menu__li{
	border: none;
	display: none;
	}
.menu__li_border_top{
	display: block;
	}
.slider{
	background:none;
}
.slider__position{
	padding: 0;
	margin: 0 auto;
	width: 54% !important;
	padding-left: 12%;
}
h4.slider__name{
	font-size: 8vw;
}
h6.slider__description{
	font-size: 4vw;
}
.conteinerimg{
	display: none;
	}
section.about{
	 height: 800px;
}
p.about__text{
	width: 60%;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.slider__position{
	width: 67% !important;
	padding-left: 12%;
}
	h4.slider__name{
	font-size: 10vw;
}
h6.slider__description{
	font-size: 5vw;
	}
button.about__button
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
.header{
	width: 320px;
	}
.slider__position{
	width: 320px;
}
.about__size{
	width: 320px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.header{
	width: 480px;
	}
.slider__position{
	width: 480px;
}
.about__size{
	width: 480px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.header{
	width: 768px;
	}
.slider__position{
	width: 768px;
}
.about__size{
	width: 768px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 960px) {
.header{
	width: 960px;
	}	
.slider__position{
	width: 960px;
}
.about__size{
	width: 960px;
	}
}
