body {
    margin: 0 auto; /*наружный отступ*/
    background-color: #000;
}
*{
    margin:0;
    padding: 0;  /*обнуление полей*/
}

.conteiner {
    margin: 0 auto;     /*располагаем контент по средине экрана*/
    position: relative;
    width: 1000px;
    height: 100%;
    background-color: #fff;
}
             /*Header*/
.form_header{
    position: relative;
    display: block;
    padding: 15px 45px 7px;  
}
.form_header img, .phone, .form_header form, .navigation_icon {
    display: inline-block;
    position: relative;
}
.form_header img{
    top:8px;
}
.phone{
    margin-right: 15px;
}
.phone h4{
    font-family: sans-serif;
    font-size: 17px;
    color: #656869;
    letter-spacing: 1px;
}
.block_img{
    position: relative;
    padding: 5px 45px 0;  /*располагаем контент по средине экрана*/
    display:block;
    clear: both;
}
form.login{
    min-width: 500px;
    height: 28px;
    position: relative;
    border:0px solid rgba(0,0,0,0);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    background: rgb(31,102,134);
    background: -moz-linear-gradient(top,  rgba(31,102,134,1) 0%, rgba(12,51,84,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(31,102,134,1) 0%,rgba(12,51,84,1) 100%);
    background: linear-gradient(to bottom,  rgba(31,102,134,1) 0%,rgba(12,51,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6686', endColorstr='#0c3354',GradientType=0 );
    -webkit-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    -moz-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
}
input.logpass{
    display: inline-block;
    position: relative;
    height: 17px;
    width: 113px;
    margin: 6px 4px 6px 0px;
    border:0px solid rgba(0,0,0,0);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}
.toplincs {
    vertical-align: middle;
    display: inline-block;
}
.toplincs a{
    font-size: 11px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
}
.border{
    color: #fff;
}
.parol{
    display: inline-block;
    position: relative;
    vertical-align:middle;
    padding: 0 4px 0 15px;
    line-height: 28px;
}
.parol a{
    font-size: 11px;
    color: #c9c9c9;
    letter-spacing: 1px;
    border-bottom: 1px solid #c9c9c9;
}
                            /*меню*/
nav{
    position: relative;
}
nav.navigation_icon{
    width: 75px;
    height: 20px;
    position: relative;
    border: 1px solid #BDC4C7;
    border-radius: 20px;
    vertical-align: middle;
    margin-left: 15px;
}
nav.navigation_icon p{
    text-align: center;
    font-size: 11px;
    letter-spacing: 3px;
}
nav.navigation_icon a{
	color: #7b868a;
	vertical-align:middle;
}
ul {
    list-style: none; /*убираем точки*/
    display: block;
    vertical-align: middle;
    float: left;
}
.block_menu{
    background:url(img/pattern.png) 0 0 repeat-x;
    position: relative;
    margin: 0 45px 5px;
    height: 34px;
    border-radius:6px;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    -moz-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
}
ul.menu_first{
    position: relative;
    padding: 0 0 0 125px;
}
ul.menu_first > li {
    position: relative;
    display: inline-block;
    line-height: 34px;
}
 
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    font-family: "HelveticaNeueCyr-Light";
}
ul.menu_first li a {
    color: #c9c9c9;
    position: relative;
    text-align: center; /*центрируем текст ссылки*/
    font-size: 19px;
    display: block;
    padding: 0 12px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
} 
ul.menu_first li a:hover{
    background: rgb(32,101,131);
background: -moz-linear-gradient(top,  rgba(32,101,131,1) 0%, rgba(12,51,87,1) 100%);
background: -webkit-linear-gradient(top,  rgba(32,101,131,1) 0%,rgba(12,51,87,1) 100%);
background: linear-gradient(to bottom,  rgba(32,101,131,1) 0%,rgba(12,51,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206583', endColorstr='#0c3357',GradientType=0 );
    color: #fff;
    text-shadow:  0 0 1px #fff;
    position: relative;
    text-align: center; /*центрируем текст ссылки*/
    display: block;
	border-radius:20px;
}
#cart{
	padding-left:50px;
} 
#cart, #cart  h6{
	display:inline-block;
}

#cart img{
    vertical-align: middle;
    position: relative;
	
} 
#cart  h6{
    font-family: sans-serif;
	vertical-align: middle;
	position:relative;
	line-height: 34px;
	color:#81898C;
	font-weight:100;
    letter-spacing: 1px;	
}
#cart  h6 span{
    font-family: sans-serif;
	color:#146194;
} 
.summa{
	padding-left: 10px;
}  
                                     /* основной контент */
#wrap{
	position:relative;
	margin: 0 45px 0;
	display:block;
	
}
.serch_block{
	position:relative;
	padding: 5px 5px;
}
.serch_car, .serch_tire, .serch_disc{
	position:relative;
	display:block;
	float:left;
	border:2px solid #c9c9c9;
	border-radius:15px;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    -moz-box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);
    box-shadow: 2px 3px 4px 0px rgba(128,128,128,1);	
}
.serch_car{
	width:410px;
}
.serch_car h4, .serch_disc h4, .serch_tire h4, .serch_car h6, .serch_car h5{
    font-family: sans-serif;
    font-weight: 900;
    color: #154467;
    display: block;
    position: relative;
}
.serch_car h4{
    width: 195px;
    font-size: 13px;
    color: #154467;
    text-align: center;
    margin: 0 auto;
}
.serch_car h5{
    float: left;
    font-size: 10px;
    padding-left: 20px;
}
.serch_car h6{
    float: right;
    font-size: 10px;
    padding-right: 20px;
    top: -17px;
}
select {
    width: 100px;
    outline: none;
    border: 2px inset rgba(164, 164, 164, 0.59);
    position: relative;
    display: block;
    color: #0C3256;
    float: right;
    margin-left: 10px;

}
select.width_55{
    width: 55px;
    float: right;
    display: block;
    position: relative;
    margin-bottom: 7px;
    margin-left: 10px;
}
.disc_car_left{
    position: relative;
    display: block;
    width: 50%;
    float: left;
}
.disc_car_right{
    position: relative;
    display: block;
    width: 50%;
    float: right;
    top: -12px;
}
label.description_car{
    color:#000;
    font-size: 11px;
    font-weight: 900;
    padding-left: 17px;
    display: inline-block;
    vertical-align: middle;
    top:3px;
}
label.description_car span{
    color:#7D8A8F;
    padding-left: 2px;
}
input.submit_car{
    position: relative;
    float: right;
    background-color: rgba(0,0,0,0);
    color: #154467;
    text-decoration: underline;
    font-style: oblique;
    font-weight: 600;
    cursor: pointer;
    clear: both;
    border: 0px solid rgba(0,0,0,0);
    margin-right: 10px;
}
.serch_tire{
	width:190px;
	margin: 0px 10px 0 15px;
}
.serch_tire h4{
    font-size: 13px;
    color: #154467;
    text-align: left;
    padding-left: 10px;
}
select.width_50{
    width: 50px;
    float: right;
    display: block;
    position: relative;
}
select.width_45{
    width: 45px;
    float: right;
    display: block;
    position: relative;
    margin-top: 5px;
    vertical-align: middle;
    margin-left: 40px;
}
input.checkbox{
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    margin:-5px 0;
    padding: 0;
    background-color: #fff;

}
.serch_disc{
	width:260px;
}
.serch_disc h4{
    font-size: 13px;
    color: #154467;
    text-align: left;
    padding-left: 10px;
}
.serch_disc_left{
    position: relative;
    display: block;
    width: 68%;
    float: left;
    border-right: 1px solid #000;
}
                                        /*три колонки*/
.wrap_content{
    display: block;
    clear: both;
    position: relative;
    margin-top: 10px;
}
aside.left_bar{
    position: relative;
    float: left;
    width: 180px;
    height: 500px;
}
.denomination{
    border: 1px solid #949FA4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(128,128,128,1);
    -moz-box-shadow: 1px 2px 4px 0px rgba(128,128,128,1);
    box-shadow: 1px 2px 4px 0px rgba(128,128,128,1);
    margin-bottom: 15px;
}
.denomination_class_right{
    position: relative;
    width: 140px;
    height: 25px;
    margin-left: 14px;
    border: 1px solid #949FA4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
}
.denomination_class_right img{
    position: relative;
    display:block;
    float: left;
    margin: 0px 4px;
}
.denomination_class_right h4{
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 0;
    color: #124165;
    text-transform:uppercase;
    font-weight: 300;
}
.denomination img{
    position: relative;
    display:block;
    float: left;
    background-color: #114165;
    margin: 2px 4px;
    padding: 3px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 0px solid rgba(0,0,0,0);

}
.denomination h4{
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px 0;
    color: #124165;
    text-transform:uppercase;
}
.denomination_class{
    position: relative;
    width: 150px;
    height: 25px;
    border: 1px solid #949FA4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
}
.denomination_class img{
    position: relative;
    display:block;
    float: left;
    margin: 0px 4px;
}
.denomination_class h4{
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px 0;
    color: #124165;
    text-transform:uppercase;
    font-weight: 300;
}
ul.menu_bar_right{
    float: none;
    color: rgba(0,0,0,0);
    padding-left: 25px;
    margin-bottom: 14px;
}
ul.menu_bar_left{
    float: none;
    list-style: circle outside;
    padding-left: 45px;
    color:#79878D;
}
li.li_bar{
    line-height: 24px;
}
li.li_bar_right{
    color: #465961;
    line-height: 25px;
}
input.input_bar{
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}
a.a_bar{
    color:#465961;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
}
a.a_bar_left{
    color:#465961;
    font-weight: bold;
    font-size: 13px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    letter-spacing: 1px;
}
a.a_bar_left:hover{
    color:#0C3256;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #0C3256;
}
button.button_bar{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    border:0 solid rgba(0,0,0,0);
    border-radius: 20px;
    background: rgb(31,101,133);
    transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
background: -moz-linear-gradient(top,  rgba(31,101,133,1) 0%, rgba(13,52,88,1) 100%);
background: -webkit-linear-gradient(top,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%);
background: linear-gradient(to bottom,  rgba(31,101,133,1) 0%,rgba(13,52,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0d3458',GradientType=0 );
}
button.button_bar:hover{
    background: rgb(13,52,88);
background: -moz-linear-gradient(top,  rgba(13,52,88,1) 0%, rgba(31,101,133,1) 100%);
background: -webkit-linear-gradient(top,  rgba(13,52,88,1) 0%,rgba(31,101,133,1) 100%);
background: linear-gradient(to bottom,  rgba(13,52,88,1) 0%,rgba(31,101,133,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d3458', endColorstr='#1f6585',GradientType=0 );
}
.content_all{
    position: relative;
background: rgb(228,231,232);
background: -moz-linear-gradient(top,  rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
background: -webkit-linear-gradient(top,  rgba(228,231,232,1) 0%,rgba(147,167,176,1) 100%);
background: linear-gradient(to bottom,  rgba(228,231,232,1) 0%,rgba(147,167,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#93a7b0',GradientType=0 );
    overflow: hidden;
    width: 530px;
    float: left;
    margin: 0 10px;
}
.col_content_left{
    width: 30.3%;
    position: relative;
    display: block;
    float: left;
    margin: 5px 10px;
}
.col_content_center{
    width: 30.3%;
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    margin: 5px 0px;
}
.col_content_right{
    width: 30.3%;
    position: relative;
    display: block;
    float: left;
    margin: 5px 10px;
}
figure{
    text-align: center;
    margin-bottom: 20px;
}
figure h5{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#276D8B;
}
h5.cach{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    color:#114165;
}
h5.cach span{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: oblique;
    color:#114165;
}
figure img{
    position: relative;
    background-color: #fff;
    padding: 6px 28px;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 10px;
}
figcaption{
    font-family:sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

aside.right_bar{
    position: relative;
    float: left;
    width: 180px;
    height: 500px;
}
                                       /*три колонки*/
								   /* основной контент */
.baner{
    position: relative;
    width: 690px;
    display: block; 
     margin: 0px auto;
     clear: both;
}
.baner img{
    margin: 40px auto 20px;
}
footer{
    margin: 0px 45px;
    position: relative;
    background: #213A4D;
    height: 100px;
}
nav.footer_menu{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 310px;
    padding: 7px 0;
}
nav.footer_menu li{
    display: inline-block;
    line-height: 12px;
}
li.li_footer{
    display: inline-block;
    line-height: 12px;
    padding: 0px 12px;
    border-right: 2px solid #788892;
}
li.li_contacts{
    padding-left: 12px;
}
nav.footer_menu a{
    font-family: sans-serif;
    font-size: 12px;
   color:#ACB5BA;
   text-align: center;
}
nav.footer_menu a:hover{
    color:#51AACA;
}
input::-webkit-input-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}
footer p{
    color: #7A4640;
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
    width: 100%;
    clear: both;
    position: relative;
    padding-top: 10px;
}

input::-moz-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}


/* Firefox 19+ */

input:-moz-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}


/* Firefox 18- */

input:-ms-input-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}

input:focus::-webkit-input-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}

input:focus::-moz-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}

input:focus:-moz-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px;
}

input:focus:-ms-input-placeholder {
  color: #808080;
  font-size: 11px;
  padding-left: 5px; 
}                                    /* контактная форма с паттерном*/
.label_color{
    font-family:"HelveticaNeueCyr-Light";
    font-size: 15px;
    color: #fff;
}
.label_color input{
    margin-right: 10px;
    position: relative;
}
p.input{
    font-size: 17px;
    color: #fff;
    display: inline-block;
    padding: 1px 0px 1px 7px;
}





